html, body {
    margin: 0;
    padding: 0;
    background-image: url(../images/beach_opt.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#name {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6px;
    font-size: 50px;
    font-size: 4.0em;
}

.navbar {
    margin-top: -40px;
    margin-bottom: 0px;
    background-color: transparent;
    border-color: transparent;
}

#blue {
    background-color:  color: rgb(2,168,163)!important; 
}

.nav {
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    font-size: 2rem;

}

.nav a {
    color: darkslategrey;
}

.navbar-default .nav-justified a {
    margin: 0px 5px 0px 5px;
}

.navbar-default .nav-justified a:hover {
    background-color: transparent;
    -webkit-transition-duration: 0.78s;
    transition-duration: 0.78s;
    color: whitesmoke;
}

.navbar-inverse .nav-justified a:visited {
    color: darkslategrey;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.speak {
    margin-top: 68px;
    font-size: 40px;
   font-family: 'Special Elite', 'Nunito', sans-serif;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
