@media(min-width:767px) {
    .navbar {
        padding: 13px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }

}

.navbar-inverse {
    margin-bottom: 0!important;
    color: black !important;
    border-color: transparent!important; */
    font-family: 'Raleway';
    font-size: 25px;
    font-size: 1.8rem;
    letter-spacing: 4px;
}

.navbar-nav>li>a:hover{
    color: rgb(2,196,186)!important;
}

.collapse.in{
    background-color: rgba(0,0,0,0) !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888;  
}

.spacer {
    height: 70px;
}


.navbar-inverse a:hover {
    -webkit-transition-duration: 0.58s!important;
    transition-duration: 0.58s!important;
}


.jumbotron {
    height: 100vh;
    background-color: transparent!important;
}

#name {
    font-family: 'Muli', sans-serif;
    color: rgb(2,196,186);
}

#blue {
    color: rgb(2,196,186);
    font-weight: 700;
}
#social {
    border: 1px solid grey;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
#social  {
    text-align: center;
}

#social a{
    margin: 10px;
    color: black;
}

#follow {
    letter-spacing: 3px;
    font-weight: 900; 
}