html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.work {
    text-align: center;
    font-family: 'Underwood Champion', sans-serif;
    font-size: 21px;
}

.work h1 {
    font-size: 2.5rem;
}
.menu {
    height: 70px;
    bottom: 0;
}

ul#nav {
    height: 70px;
    list-style-type: none;
    margin: 0;
    padding 0;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    font-family: 'Raleway', sans-serif;
}

ul#nav li {
    display: inline;
    margin-right: .75em;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

#nav li a{
    text-decoration: none;
    color: whitesmoke;
}

ul#nav li.last {
    margin-right: 0;
}
