html, body {
    margin: 0;
    padding: 0;
    width: auto!important;
    overflow-x: hidden !important;
    
}


.jumbotron {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 0px!important;
    background: rgba(0,0,0,0)!important;
    font-family: 'Raleway', sans-serif;
    height: 70vh;
    margin-bottom: -40px!important;
    color: #fdc93a!important;
    font-size: 95px!important; 
    background-color: rgb(2,196,186)!important;
}


.jumbotron a {
    color: whitesmoke;
}

.jumbotron p {
    font-size:26px!important;
    font-family: 'Zilla Slab', serif;
}
}

.jumbotron h1 {
    font-size: 60px!important;
    font-size: 2rem;
}


#top {  
 background-color: #5600b1;
 margin-left: -20px;
 margin-right: -20px;
}


.navbar {
    z-index: 1.5;
    position: relative;
    margin-top: 0px; 
    margin-bottom: 0px!important;
    border-color: transparent!important;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 17.5px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.space {
    height: 192px;
    background-color: rgb(2,196,186);
}

.navbar a {
    color: white;
}

.navbar-default a:hover {
    background-color: transparent;
}

.navbar-nav>li>a:hover{
    color: rgb(2,196,186)!important;
}

navbar-inverse a:hover {
    -webkit-transition-duration: 0.58s!important;
    transition-duration: 0.58s!important;
}

@media(min-width:767px) {
    .navbar {
        padding: 13px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }

}


#education p {
    font-size: 20px;
}

.media {
    text-align:left;
}

.media h2 {
    text-align: center;
}

.center {
    text-align: center;
    height: 100px;
}

.row p {
    font-size: 17px!important; 
    font-size: 1.5rem; 
}

section {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin-left: -20px;
    margin-right: -20px;
}

#theskills {
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#workexperience {
    padding: 30px;
    background-color: rgba(248,248,248,1);
    font-family: 'Raleway', sans-serif;
    margin-top: 0px!important;
}


#block {
    margin: 43px;
}

#title {
    font-weight: 900;
}
#expimage {
    height: 100px;
}
