.navbar-inverse {
    margin-bottom: 0!important;
    color: black !important;
    background-color: transparent!important;
    border-color: transparent!important; 
    font-family: 'Raleway';
    letter-spacing: 6px;
}

.navbar-inverse .navbar-static-top a:hover {
    color: black!important;
}


.jumbotron {
    height: 100vh;
    background-color: transparent!important;
}

#name {
    font-family: 'Muli', sans-serif;
    color: rgb(2,196,186);
}

#blue {
    color: rgb(2,196,186);
    font-weight: 700;
}
#social {
    border: 1px solid grey;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
#social  {
    text-align: center;
}

#social a{
    margin: 5px;
    color: black;
}